<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create your wishlist</title>
  <link rel="stylesheet" href="../static/style.css">
  <meta name="viewport" content="width=device-width">
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1>WishVault</h1>
    </div>
    <nav>
      <ul>
        <li><a href="WishVault.html">Home</a></li>
        <li><a href="#">Socials</a></li>
      </ul>
    </nav>
  </div>
</header>
<form action="/create-wishlist" method="post" class="form-container">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required placeholder="Your name">
  <label for="event">Event:</label>
  <input type="text" id="event" event="event" required placeholder="What is this wishlist for?">
  <input type="submit" value="Submit">
</form>
</div>


<footer>
  <div class="container">
    <nav>
      <ul>
        <li><a href ="#">Privacy</a></li>
        <li><a href ="#">About</a></li>
        <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
      </ul>
    </nav>
    <p>WishVault, Copyright &copy; 2024</p>
  </div>

</footer>
</body>
</html>
