<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create your wishlist</title>
  <link th:href="@{/style.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width">
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1>WishVault</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#">Socials</a></li>
      </ul>
    </nav>
  </div>
</header>


<form th:action="@{/createWish/{id}(id=${listId})}" method="post" th:object="${wish}">

  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{name}" required placeholder="Your wish">

  <label for="description">Description:</label>
  <input type="text" id="description" th:field="*{description}" required placeholder="Your wish description">

  <label for="itemUrl">URL:</label>
  <input type="url" id="itemUrl" th:field="*{itemUrl}" required placeholder="Link to where you can find your wish">

  <label for="price">Price:</label>
  <input type="number" id="price" th:field="*{price}" required step="0.01">

  <label for="imageUrl">Image URL:</label>
  <input type="url" id ="imageUrl" th:field="*{imageUrl}" placeholder="Link">

  <input type="submit" value="Submit">
</form>

</div>


<footer>
  <div class="container">
    <nav>
      <ul>
        <li><a href ="#">Privacy</a></li>
        <li><a href ="#">About</a></li>
        <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
      </ul>
    </nav>
    <p>WishVault, Copyright &copy; 2024</p>
  </div>

</footer>
</body>
</html>
