<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Create your wishlist</title>
  <link th:href="@{/style.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width">
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1>WishVault</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/wishlists">Wishlists</a></li>
      </ul>
    </nav>
  </div>
</header>
<table class = "wishes">
  <tr>
    <th class="wisheshead">All wishlists</th>
  </tr>


  <tr th:each="wishlist : ${wishlists}" class="wish-item">
    <div class="wish-container">
      <td>
        <div class="wish-box">
          <p th:text="${wishlist.eventName}" class="wish-name"></p>
          <a th:href="@{/wishlist/{id}(id=${wishlist.listId})}" class = "bn3637 bn38">Show wishlist</a>
          <form th:action="@{/deleteWishlist/{id}(id=${wishlist.listId})}" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="bn3637 bn38">Delete wish</button>
          </form>

        </div>
      </td>

    </div>
  </tr>



  </div>
</table>


<div>
  <!-- Button to redirect to the createWish page -->
  <a href="create" class="create-wish-button">
    <button>Create Wish</button>
  </a>

</div>
</div>



<footer>
  <div class="container">
    <nav>
      <ul>
        <li><a href ="#">Privacy</a></li>
        <li><a href ="#">About</a></li>
        <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
      </ul>
    </nav>
    <p>WishVault, Copyright &copy; 2024</p>
  </div>



</footer>
</body>
</html>
