<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>WishVault</title>
  <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1>WishVault</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/wishlists">Wishlists</a></li>
      </ul>
    </nav>
  </div>
</header>

<section id="showcase">
  <div class="container">
    <h1>Build and share your wishlist with WishVault</h1>
    <p>Do like thousands of others, create your wishlist with WishVault</p>
  </div>
</section>






<section id ="createbutton">
  <div class="container">
    <a href="/create"><button>Create new wishlist</button></a>



  </div>
</section>
<footer>
  <div class="container">
    <nav>
      <ul>
        <li><a href ="#">Privacy</a></li>
        <li><a href ="#">About</a></li>
        <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
      </ul>
    </nav>
    <p>WishVault, Copyright &copy; 2024</p>
  </div>

</footer>
</body>
</html>
