<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Create your wishlist</title>
  <link th:href="@{/style.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width">
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1>WishVault</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="">All wishlists</a></li>
      </ul>
    </nav>
  </div>
</header>
<table class = "wishes">
  <tr>
    <th class="wisheshead" th:text="${wisherName} + 's wishes'     "></th>
  </tr>


    <tr th:each="wish : ${wishes}" class="wish-item">
      <div class="wish-container">
        <td>
          <div class="wish-box">
            <a th:href="@{/wish/{wishId}(wishId=${wish.id})}">
            <img th:src="${wish.imageUrl}" class="wish-image">
            </a>
            <p th:text="${wish.name}" class="wish-name"></p>


            <p th:text ="${wish.price} + ' kr.'" class ="wish-price"></p>

            <a th:href="@{/editWish/{id}(id=${wish.id})}" class="edit-wish-button">
              <button>Edit Wish</button>
            </a>

          </div>
        </td>
      </div>
  </tr>



  </div>
</table>
<div>
  <!-- Button to redirect to the createWish page -->
  <a th:href="@{/createWish/{id}(id=${listId})}" class="create-wish-button">
    <button>Create Wish</button>
  </a>

</div>
</div>

<button class="shareButton">Share</button>

<script>
  document.getElementById('shareButton').addEventListener('click', function() {
    // Get the current URL
    var currentUrl = window.location.href;

    // Create a temporary input element
    var tempInput = document.createElement('input');
    tempInput.value = currentUrl;
    document.body.appendChild(tempInput);

    // Select the input content
    tempInput.select();
    tempInput.setSelectionRange(0, 99999); // For mobile devices

    // Copy the URL to the clipboard
    document.execCommand('copy');

    // Remove the temporary input element
    document.body.removeChild(tempInput);

    // Provide feedback to the user
    alert('Link copied to clipboard: ' + currentUrl);
  });
</script>


<footer>
  <div class="container">
    <nav>
      <ul>
        <li><a href ="#">Privacy</a></li>
        <li><a href ="#">About</a></li>
        <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
      </ul>
    </nav>
    <p>WishVault, Copyright &copy; 2024</p>
  </div>



</footer>
</body>
</html>
