<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create your wishlist</title>
  <link th:href="@{/style.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width">
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1>WishVault</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#">Socials</a></li>
      </ul>
    </nav>
  </div>
</header>
<table class = "wishes">
  <tr>
    <th class="wisheshead">Wishes:</th>
  </tr>
  <tr th:each="wish : ${wishes}">
    <td>
      <p th:text ="${wish.itemName}" class="wish-name"></p>
    </td>
  </tr>
</table>
</div>


<footer>
  <div class="container">
    <nav>
      <ul>
        <li><a href ="#">Privacy</a></li>
        <li><a href ="#">About</a></li>
        <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
      </ul>
    </nav>
    <p>WishVault, Copyright &copy; 2024</p>
  </div>

</footer>
</body>
</html>
