<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create your wishlist</title>
  <link th:href="@{/style.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width">
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1>WishVault</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#">Socials</a></li>
      </ul>
    </nav>
  </div>
</header>
<table class = "wishes">
  <tr>
    <th class="wisheshead" th:text="${wisherName} + 's wishes:'     "></th>
  </tr>
  <tr th:each="wish : ${wishes}">
    <td>
      <p th:text ="${wish.name}" class="wish-name"></p>
      <img th:src="${wish.imageUrl}">
    </td>
  </tr>
</table>
<div>
  <!-- Button to redirect to the createWish page -->
  <a th:href="@{/createWish/{id}(id=${listId})}" class="create-wish-button">
    <button>Create Wish</button>
  </a>

</div>
</div>


<footer>
  <div class="container">
    <nav>
      <ul>
        <li><a href ="#">Privacy</a></li>
        <li><a href ="#">About</a></li>
        <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
      </ul>
    </nav>
    <p>WishVault, Copyright &copy; 2024</p>
  </div>



</footer>
</body>
</html>
